@font-face {
    font-family: Architects Daughter;
    src: url('/alicia/fonts/ArchitectsDaughter.ttf');
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Architects Daughter';
    color: #666;
    background: url('/alicia/images/bg.png')
}

.header,
.footer {
    position: fixed;
    right: 0;
    left: 0;
    padding: 10px;
    background-color: #e1e1e1;
    text-align: center;
    z-index: 9999;
}

.header {
    top: 0;
    border-bottom: 1px solid #c1c1c1;
}

.footer {
    bottom: 0;
    border-top: 1px solid #c1c1c1;
}

.main {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.icon-heart:after {
    display: inline-flex;
    position: relative;
    top: 5px;
    width: 18px;
    height: 18px;
    content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 29.6'><path fill='%23cc0000' d='M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z'></path></svg>");
}

.card {
    background: url('/alicia/images/bg-card.png')
}

.card-image {
    max-height: 80%;
    max-width: 80%;
    vertical-align: middle;
}

.center {
    display: block;
    margin: 0 auto;
    width: 50%;
}

#slider {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

#slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

#slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 300px;
    height: 300px;
    line-height: 300px;
    background: #ffffff;
    text-align: center;
    font-size: 24px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a.control-prev,
a.control-next {
    display: block;
    position: absolute;
    top: 45%;
    padding: 4%;
    width: auto;
    height: auto;
    z-index: 999;
}

a.control-prev:hover,
a.control-next:hover {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
}

a.control-prev {
    background-image: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='%23666' viewBox='0 0 8 8'><path d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/></svg>");
}

a.control-next {
    right: 0;
    background-image: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='%23666' viewBox='0 0 8 8'><path d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/></svg>");
}
