@font-face {
    font-family: Architects Daughter;
    src: url('/alicia/fonts/ArchitectsDaughter.ttf');
}

html,
body {
    margin: 0;
    padding: 0;
    background: url('/alicia/images/background.png');
    font-family: 'Architects Daughter';
    color: #333333;
}

.header,
.footer {
    position: fixed;
    right: 0;
    left: 0;
    padding: 10px;
    height: 20px;
    line-height: 20px;
    background-color: #e1e1e1;
    text-align: center;
    z-index: 9999;
}

.header {
    top: 0;
    border-bottom: 1px solid #c1c1c1;
}

.footer {
    bottom: 0;
    border-top: 1px solid #c1c1c1;
}

.main {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.card-content {
    margin: 0 10px;
    width: 298px;
    height: 198px;
    line-height: 198px;
    border: 1px solid #a8a8a8;
    border-radius: 8px;
    background: #f1f1f1;
}

@media (min-width: 768px) {
    .card-content {
        width: 598px;
        height: 378px;
        line-height: 378px;
    }
}

.card-buttons {
    margin-top: 20px;
}

.card-image {
    width: 100%;
    height: auto;
    max-width: 80%;
    max-height: 80%;
    vertical-align: middle;
}

.card-question {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.card-question p {
    font-size: 20px;
    line-height: normal;
}

@media (min-width: 768px) {
    .card-question p {
        font-size: 42px;
    }
}

#menu {
    display: none;
}

#board {
    display: none;
    position: flex;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 50px 0;
}

#deck {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

#deck ul {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

#deck ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 320px;
    height: 420px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

@media (min-width: 768px) {
    #deck ul li {
        width: 620px;
        height: 680px;
    }
}

#score {
    margin: 10px 0;
    z-index: 999;
}

#total-count,
#not-played-count,
#hit-count,
#fail-count {
    display: inline-block;
    margin: 0 5px;
    padding: 2px 5px;
    width: 40px;
    color: #ffffff;
    border-radius: 4px;
}

#total-count {
    background: #666666;
}

#not-played-count {
    background: #0074d9;
}

#hit-count {
    background: #00a82d;
}

#fail-count {
    background: #cc0000;
}

.correct {
    color: #ffffff !important;
    background: #00a82d !important;
}

.wrong {
    color: #ffffff !important;
    background: #cc0000 !important;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a.control-prev,
a.control-next {
    display: none;
}

@media (min-width: 768px) {
    a.control-prev,
    a.control-next {
        display: block;
        position: absolute;
        top: 45%;
        padding: 4%;
        width: auto;
        height: auto;
        z-index: 999;
    }

    a.control-prev:hover,
    a.control-next:hover {
        opacity: 1;
        -webkit-transition: all 0.2s ease;
    }

    a.control-prev {
        background-image: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='%23666' viewBox='0 0 8 8'><path d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/></svg>");
    }

    a.control-next {
        right: 0;
        background-image: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='%23666' viewBox='0 0 8 8'><path d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/></svg>");
    }
}

a.back {
    position: absolute;
    left: 10px;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='%23666' viewBox='0 0 8 8'><path d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/></svg>");
}

#spinner {
    display: inline-block;
    width: 128px;
    height: 128px;
    background-image: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'><g><path fill='%230074d9' fill-opacity='1' d='M109.25 55.5h-36l12-12a29.54 29.54 0 0 0-49.53 12H18.75A46.04 46.04 0 0 1 96.9 31.84l12.35-12.34v36zm-90.5 17h36l-12 12a29.54 29.54 0 0 0 49.53-12h16.97A46.04 46.04 0 0 1 31.1 96.16L18.74 108.5v-36z'/><animateTransform attributeName='transform' type='rotate' from='0 64 64' to='360 64 64' dur='6000ms' repeatCount='indefinite'></animateTransform></g></svg>");
    background-repeat: no-repeat;
    background-position: center;
}

.icon-heart:after {
    display: inline-block;
    position: relative;
    top: 5px;
    width: 18px;
    height: 18px;
    content: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='%23cc0000' viewBox='0 0 32 29.6'><path d='M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z'></path></svg>");
}

form {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.btn {
    display: block;
    padding: 6px 40px;
    margin: 0 0 10px 0;
    outline: none;
    border: none;
    border-radius: 40px;
    width: 300px;
    height: 40px;
    font-size: 16px;
    font-family: 'Architects Daughter';
    text-shadow: none;
    box-shadow: none;
    cursor: pointer;
    color: #ffffff;
    background: #0074d9;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

@media (min-width: 768px) {
    .btn {
        padding: 6px 60px;
        margin: 0 0 10px 0;
        border-radius: 60px;
        width: 600px;
        height: 60px;
        font-size: 22px;
    }
}

.btn:active,
.btn:focus,
.btn:visited {
    color: #ffffff;
    background: #0074d9;
}

.btn:hover {
    color: #ffffff;
    background: #004b8d;
}

input[type="button"]:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: default;
    transition: none;
    opacity: 1;
}

.hidden {
    display: none;
}

/* DECKS */

.COLORS .card-content {
    border-color: #000000;
}

.FRUITS .card-content,
.LOGOS .card-content {
    background: #ffffff;
}

.FRUITS .card-image {
    width: auto;
}

.ALPHABET p,
.NUMBERS p,
.VOWELS p {
    color: #0000ff;
    font-size: 128px;
    font-weight: bold;
    font-family: Helvetica, Arial;
}

.COLORS p {
    font-size: 42px;
}
