@font-face {
    font-family: Architects Daughter;
    src: url('/alicia/fonts/ArchitectsDaughter.ttf');
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Architects Daughter';
    color: #666;
    background: url('/alicia/images/bg.png')
}

h1 {
    color: #333333;
    text-align: center;
}

.header,
.footer {
    padding: 10px;
    background-color: #e1e1e1;
    text-align: center;
}

.header {
    border-bottom: 1px solid #c1c1c1;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
}

.footer {
    border-top: 1px solid #c1c1c1;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9999;
}

.content {
    margin-top: 75px;
}

.heart-icon {
    fill: #008ac9;
    position: relative;
    top: 5px;
    width: 1em;
}

#slider {
    position: relative;
    overflow: hidden;
    margin: auto;
}

#slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

#slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 300px;
    height: 300px;
    line-height: 300px;
    background: #ccc;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a.control_prev,
a.control_next {
    display: block;
    position: absolute;
    top: 45%;
    padding: 3%;
    width: auto;
    height: auto;
    z-index: 999;
}

a.control_prev:hover,
a.control_next:hover {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
}

a.control_prev {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23666' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

a.control_next {
    right: 0;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23666' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
